In [1030]:
#Importar librerias
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Cargamos nuestro CSV

In [1031]:
url = "https://raw.githubusercontent.com/chrisrueda/EndomorfismoII_2024/main/PROYECTOS/SEGUNDO%20PARCIAL/mora_cdto.csv"


data= pd.read_csv(url)

data.head(10)

,ID,CU,G,ED,EC,E,M1,M2,M3,M4,...,D4,D5,D6,P1,P2,P3,P4,P5,P6,SP
0,1,2000,F,2,Casado,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,68.9,0.0,0.0,0.0,0.0,Si
1,2,12000,F,2,Soltero,26,-1,2,0,0,...,327.2,345.5,326.1,0.0,100.0,100.0,100.0,0.0,200.0,Si
2,3,9000,F,2,Soltero,34,0,0,0,0,...,1433.1,1494.8,1554.9,151.8,150.0,100.0,100.0,100.0,500.0,No
3,4,5000,F,2,Casado,37,0,0,0,0,...,2831.4,2895.9,2954.7,200.0,201.9,120.0,110.0,106.9,100.0,No
4,5,5000,M,2,Casado,57,-1,0,-1,0,...,2094.0,1914.6,1913.1,200.0,3668.1,1000.0,900.0,68.9,67.9,No
5,6,5000,M,1,Soltero,37,0,0,0,0,...,1939.4,1961.9,2002.4,250.0,181.5,65.7,100.0,100.0,80.0,No
6,7,50000,M,1,Soltero,29,0,0,0,0,...,54265.3,48300.3,47394.4,5500.0,4000.0,3800.0,2023.9,1375.0,1377.0,No
7,8,10000,F,2,Soltero,23,0,-1,-1,0,...,22.1,-15.9,56.7,38.0,60.1,0.0,58.1,168.7,154.2,No
8,9,14000,F,3,Casado,28,0,0,2,0,...,1221.1,1179.3,371.9,332.9,0.0,43.2,100.0,100.0,100.0,No
9,10,2000,M,3,Soltero,35,-2,-2,-2,-2,...,0.0,1300.7,1391.2,0.0,0.0,0.0,1300.7,112.2,0.0,No

Análisis de los datos

In [1032]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   CU      30000 non-null  int64
 2   G       29997 non-null  object
 3   ED      30000 non-null  int64
 4   EC      29999 non-null  object
 5   E       30000 non-null  int64
 6   M1      30000 non-null  int64
 7   M2      30000 non-null  int64
 8   M3      30000 non-null  int64
 9   M4      30000 non-null  int64
 10  M5      30000 non-null  int64
 11  M6      30000 non-null  int64
 12  D1      30000 non-null  float64
 13  D2      30000 non-null  float64
 14  D3      30000 non-null  float64
 15  D4      30000 non-null  float64
 16  D5      30000 non-null  float64
 17  D6      30000 non-null  float64
 18  P1      30000 non-null  float64
 19  P2      30000 non-null  float64
 20  P3      30000 non-null  float64
 21  P4      30000 non-null  float64
 22  P5      30000 non-null  float64
 23  P6      30000 non-null  float64
 24  SP      30000 non-null  object
dtypes: float64(12), int64(10), object(3)
memory usage: 5.7+ MB

In [1033]:
data.describe()

,ID,CU,ED,E,M1,M2,M3,M4,M5,M6,...,D3,D4,D5,D6,P1,P2,P3,P4,P5,P6
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,16748.432267,1.853133,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,...,4701.315480,4326.294897,4031.140097,3887.176040,566.358050,592.11635,522.568150,482.607687,479.938763,521.550257
std,8660.398374,12974.766157,0.790349,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,...,6934.938743,6433.285613,6079.715577,5955.410754,1656.328035,2304.08704,1760.696147,1566.615974,1527.830568,1777.746578
min,1.000000,1000.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-15726.400000,-17000.000000,-8133.400000,-33960.300000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,5000.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,266.625000,232.675000,176.300000,125.600000,100.000000,83.30000,39.000000,29.600000,25.250000,11.775000
50%,15000.500000,14000.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2008.850000,1905.200000,1810.450000,1707.100000,210.000000,200.90000,180.000000,150.000000,150.000000,150.000000
75%,22500.250000,24000.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6016.475000,5450.600000,5019.050000,4919.825000,500.600000,500.00000,450.500000,401.325000,403.150000,400.000000
max,30000.000000,100000.000000,6.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,166408.900000,89158.600000,92717.100000,96166.400000,87355.200000,168425.90000,89604.000000,62100.000000,42652.900000,52866.600000

Queremos saber cuales datos faltantes tenemos

In [1034]:
datos_faltantes = data.isnull()

for i in datos_faltantes.columns.values.tolist():
    print(datos_faltantes[i].value_counts())

ID
False    30000
Name: count, dtype: int64
CU
False    30000
Name: count, dtype: int64
G
False    29997
True         3
Name: count, dtype: int64
ED
False    30000
Name: count, dtype: int64
EC
False    29999
True         1
Name: count, dtype: int64
E
False    30000
Name: count, dtype: int64
M1
False    30000
Name: count, dtype: int64
M2
False    30000
Name: count, dtype: int64
M3
False    30000
Name: count, dtype: int64
M4
False    30000
Name: count, dtype: int64
M5
False    30000
Name: count, dtype: int64
M6
False    30000
Name: count, dtype: int64
D1
False    30000
Name: count, dtype: int64
D2
False    30000
Name: count, dtype: int64
D3
False    30000
Name: count, dtype: int64
D4
False    30000
Name: count, dtype: int64
D5
False    30000
Name: count, dtype: int64
D6
False    30000
Name: count, dtype: int64
P1
False    30000
Name: count, dtype: int64
P2
False    30000
Name: count, dtype: int64
P3
False    30000
Name: count, dtype: int64
P4
False    30000
Name: count, dtype: int64
P5
False    30000
Name: count, dtype: int64
P6
False    30000
Name: count, dtype: int64
SP
False    30000
Name: count, dtype: int64

In [1035]:
data.count()

ID    30000
CU    30000
G     29997
ED    30000
EC    29999
E     30000
M1    30000
M2    30000
M3    30000
M4    30000
M5    30000
M6    30000
D1    30000
D2    30000
D3    30000
D4    30000
D5    30000
D6    30000
P1    30000
P2    30000
P3    30000
P4    30000
P5    30000
P6    30000
SP    30000
dtype: int64

In [1036]:
data.dtypes

ID      int64
CU      int64
G      object
ED      int64
EC     object
E       int64
M1      int64
M2      int64
M3      int64
M4      int64
M5      int64
M6      int64
D1    float64
D2    float64
D3    float64
D4    float64
D5    float64
D6    float64
P1    float64
P2    float64
P3    float64
P4    float64
P5    float64
P6    float64
SP     object
dtype: object

Procedemos a llenar los datos faltantes

In [1037]:
# Convertir "M" a 1 y "F" a 0 en la columna "X"
data["G"] = data["G"].map({"M": 1, "F": 0})

# Verificar los cambios
print(data.head())

   ID     CU    G  ED       EC   E  M1  M2  M3  M4  ...      D4      D5  \
0   1   2000  0.0   2   Casado  24   2   2  -1  -1  ...     0.0     0.0
1   2  12000  0.0   2  Soltero  26  -1   2   0   0  ...   327.2   345.5
2   3   9000  0.0   2  Soltero  34   0   0   0   0  ...  1433.1  1494.8
3   4   5000  0.0   2   Casado  37   0   0   0   0  ...  2831.4  2895.9
4   5   5000  1.0   2   Casado  57  -1   0  -1   0  ...  2094.0  1914.6

       D6     P1      P2      P3     P4     P5     P6  SP
0     0.0    0.0    68.9     0.0    0.0    0.0    0.0  Si
1   326.1    0.0   100.0   100.0  100.0    0.0  200.0  Si
2  1554.9  151.8   150.0   100.0  100.0  100.0  500.0  No
3  2954.7  200.0   201.9   120.0  110.0  106.9  100.0  No
4  1913.1  200.0  3668.1  1000.0  900.0   68.9   67.9  No

[5 rows x 25 columns]

In [1038]:
# Convertir "M" a 1 y "F" a 0 en la columna "X"
data["EC"] = data["EC"].map({"Casado": 1, "Soltero": 0})

# Verificar los cambios
print(data.head())

   ID     CU    G  ED   EC   E  M1  M2  M3  M4  ...      D4      D5      D6  \
0   1   2000  0.0   2  1.0  24   2   2  -1  -1  ...     0.0     0.0     0.0
1   2  12000  0.0   2  0.0  26  -1   2   0   0  ...   327.2   345.5   326.1
2   3   9000  0.0   2  0.0  34   0   0   0   0  ...  1433.1  1494.8  1554.9
3   4   5000  0.0   2  1.0  37   0   0   0   0  ...  2831.4  2895.9  2954.7
4   5   5000  1.0   2  1.0  57  -1   0  -1   0  ...  2094.0  1914.6  1913.1

      P1      P2      P3     P4     P5     P6  SP
0    0.0    68.9     0.0    0.0    0.0    0.0  Si
1    0.0   100.0   100.0  100.0    0.0  200.0  Si
2  151.8   150.0   100.0  100.0  100.0  500.0  No
3  200.0   201.9   120.0  110.0  106.9  100.0  No
4  200.0  3668.1  1000.0  900.0   68.9   67.9  No

[5 rows x 25 columns]

In [1039]:
# Convertir "M" a 1 y "F" a 0 en la columna "X"
data["SP"] = data["SP"].map({"Si": 1, "No": 0})

# Verificar los cambios
print(data.head())

   ID     CU    G  ED   EC   E  M1  M2  M3  M4  ...      D4      D5      D6  \
0   1   2000  0.0   2  1.0  24   2   2  -1  -1  ...     0.0     0.0     0.0
1   2  12000  0.0   2  0.0  26  -1   2   0   0  ...   327.2   345.5   326.1
2   3   9000  0.0   2  0.0  34   0   0   0   0  ...  1433.1  1494.8  1554.9
3   4   5000  0.0   2  1.0  37   0   0   0   0  ...  2831.4  2895.9  2954.7
4   5   5000  1.0   2  1.0  57  -1   0  -1   0  ...  2094.0  1914.6  1913.1

      P1      P2      P3     P4     P5     P6  SP
0    0.0    68.9     0.0    0.0    0.0    0.0   1
1    0.0   100.0   100.0  100.0    0.0  200.0   1
2  151.8   150.0   100.0  100.0  100.0  500.0   0
3  200.0   201.9   120.0  110.0  106.9  100.0   0
4  200.0  3668.1  1000.0  900.0   68.9   67.9   0

[5 rows x 25 columns]

In [1040]:
data.dtypes

ID      int64
CU      int64
G     float64
ED      int64
EC    float64
E       int64
M1      int64
M2      int64
M3      int64
M4      int64
M5      int64
M6      int64
D1    float64
D2    float64
D3    float64
D4    float64
D5    float64
D6    float64
P1    float64
P2    float64
P3    float64
P4    float64
P5    float64
P6    float64
SP      int64
dtype: object

In [1041]:
#Categórico
mas_freq = data["G"].value_counts().idxmax()
print(f"La variable más frecuente para G es: {mas_freq}")
#Imputar la variable
data["G"] = data["G"].replace(np.nan, mas_freq) #opción 1
data["G"].replace(np.nan, mas_freq,inplace=True) #opción 2
#Comprobar faltantes 
data["G"].count()

La variable más frecuente para G es: 0.0

C:\Users\Francisco\AppData\Local\Temp\ipykernel_14316\2788611521.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["G"].replace(np.nan, mas_freq,inplace=True) #opción 2

30000

Queremos saber si en uan columna tenemos datos en NaN

In [1042]:
columns_with_nan = data.columns[data.isna().any()]

# Print the columns with NaN values
print("Columns with NaN values:")
for col in columns_with_nan:
    print(col)

Columns with NaN values:
EC

In [1043]:
#Categórico
mas_freq = data["EC"].value_counts().idxmax()
print(f"La variable más frecuente para EC es: {mas_freq}")
#Imputar la variable
data["EC"] = data["EC"].replace(np.nan, mas_freq) #opción 1
data["EC"].replace(np.nan, mas_freq,inplace=True) #opción 2
#Comprobar faltantes 
data["EC"].count()

La variable más frecuente para EC es: 0.0

C:\Users\Francisco\AppData\Local\Temp\ipykernel_14316\1837702239.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["EC"].replace(np.nan, mas_freq,inplace=True) #opción 2

30000

In [1044]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split

# Matriz de entrada para el modelo 1
X = data.drop('SP', axis=1)
# Target - Vector de salida
y = data['SP']

# Generar nuestro conjunto de entrenamiento y validación
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

In [1045]:
# Matriz de entrada para el modelo 2
X2 = data.drop('SP', axis=1)
# Target - Vector de salida
y2 = data['SP']

# Generar nuestro conjunto de entrenamiento y validación
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=40)

Importamos nuestro primer modelo (Random Forest)

In [1046]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100,
                            max_depth=None,
                            min_samples_split=3,
                            min_samples_leaf=4,
                            random_state=30,
                            bootstrap=True,
                            oob_score=True,
                            class_weight=None,
                            n_jobs=-2)

In [1047]:
rf.fit(X_train, y_train)

RandomForestClassifier(min_samples_leaf=4, min_samples_split=3, n_jobs=-2,
                       oob_score=True, random_state=30)

In [1048]:
# Validar el modelo
y_pred = rf.predict(X_test)

La metrica para nuestro primer modelo

In [1049]:
# Matriz de confusión
con_mat = confusion_matrix(y_test, y_pred)
print(f"Matriz de confusión:\n {con_mat}")
# Exactitud
exactitud = accuracy_score(y_test, y_pred)
# Precision
precision = precision_score(y_test, y_pred)
# Sensibilidad
recall = recall_score(y_test, y_pred)
# Especificidad
vn, fp, fn, vp = con_mat.ravel()
especificidad = vn / (vn + fp)
#f1-score
f1 = f1_score(y_test, y_pred)

print(f"Exactitud: {exactitud:.2f}\nPrecision: {precision:.2f}\nSensibilidad: {recall:.2f}\nEspecificidad: {especificidad:.2f}\nf1-Score: {f1:.2f}")

Matriz de confusión:
 [[6659  360]
 [1213  768]]
Exactitud: 0.83
Precision: 0.68
Sensibilidad: 0.39
Especificidad: 0.95
f1-Score: 0.49

Importamos nuestro segundo modelo (XBG)

In [1050]:
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

xgb = XGBClassifier(n_estimators=70,
                    max_depth=6,
                    learning_rate=0.1,
                    gamma=0,
                    reg_lambda=3,
                    colsample_bytree=1,
                    colsample_bylevel=1,
                    min_child_weight=1,
                    max_delta_step=0,
                    seed=42)

In [1051]:
#Entrenamiento
xgb.fit(X_train2, y_train2)
#Predicción
y_pred2 = xgb.predict(X_test2)

In [1052]:
xgb.fit(X_train2, y_train2)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=1, colsample_bynode=None, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=None,
              grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None, max_delta_step=0,
              max_depth=6, max_leaves=None, min_child_weight=1, missing=nan,
              monotone_constraints=None, n_estimators=70, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None, ...)

In [1053]:
# Validar el modelo
y_pred2 = xgb.predict(X_test2)

Metrica de nuestro segundo modelo

In [1054]:
# Matriz de confusión
con_mat2 = confusion_matrix(y_test2, y_pred2)
print(f"Matriz de confusión:\n {con_mat2}")
# Exactitud
exactitud2 = accuracy_score(y_test2, y_pred2)
# Precision
precision2 = precision_score(y_test2, y_pred2)
# Sensibilidad
recall2 = recall_score(y_test2, y_pred2)
# Especificidad
vn2, fp2, fn2, vp2 = con_mat2.ravel()
especificidad2 = vn2 / (vn2 + fp2)
#f1-score
f12 = f1_score(y_test2, y_pred2)

print(f"Exactitud: {exactitud2:.2f}\nPrecision: {precision2:.2f}\nSensibilidad: {recall2:.2f}\nEspecificidad: {especificidad2:.2f}\nf1-Score: {f12:.2f}")

Matriz de confusión:
 [[6674  345]
 [1227  754]]
Exactitud: 0.83
Precision: 0.69
Sensibilidad: 0.38
Especificidad: 0.95
f1-Score: 0.49

Guardamos el primer modelo

In [1055]:
# Save Model Using joblib
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import joblib
joblib.dump(rf, "Modelo_rf.pkl")

['Modelo_rf.pkl']