## Bagging (Random Forest)

In [2]:
# Importar las librer√≠as necesarias 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Cargar el conjunto de datos
https://archive.ics.uci.edu/dataset/267/banknote+authentication

In [4]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt"
df = pd.read_csv(url)

df.head(10)

    3.6216  8.6661  -2.8073  -0.44699  0
0  4.54590  8.1674 -2.45860  -1.46210  0
1  3.86600 -2.6383  1.92420   0.10645  0
2  3.45660  9.5228 -4.01120  -3.59440  0
3  0.32924 -4.4552  4.57180  -0.98880  0
4  4.36840  9.6718 -3.96060  -3.16250  0
5  3.59120  3.0129  0.72888   0.56421  0
6  2.09220 -6.8100  8.46360  -0.60216  0
7  3.20320  5.7588 -0.75345  -0.61251  0
8  1.53560  9.1772 -2.27180  -0.73535  0
9  1.22470  8.7779 -2.21350  -0.80647  0

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt"
df = pd.read_csv(url)